article .post-reward {
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
    border-top: 1px dashed $global-font-color;
    .reward-button {
        margin: 15px 0;
        padding: 3px 7px;
        display: inline-block;
        color: $single-link-color;
        border: 2px solid $single-link-color;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
            color: $global-background-color;
            background-color: $single-link-color;
            transition: .5s;
        }
    }
    #reward:checked~.qr-code {
        display: block;
    }
    #reward:checked~.reward-button {
        display: none;
    }
    .qr-code {
        display: none;
        .qr-code-image {
            display: inline-block;
            min-width: 200px;
            width: 40%;
            margin-top: 15px;
            span {
                font-size: 1.2rem;
                font-weight: bold;
                display: inline-block;
                width: 100%;
                margin: 8px 0;
            }
            .image {
                width: 200px;
                height: 200px;
            }
        }
    }
}
[theme=dark] article .post-reward {
    border-top: 1px dashed $global-font-color-dark;
}
