.dropdown {
    display: inline-block;
    a.menu-item {
        margin-right: 0 !important;
    }
    &>i:not(:only-child):last-of-type {
        font-size: .5rem;
        color: #a9a9b3;
        margin-right: .5rem;
        transition: all 0.2s ease-in-out;
    }
    // 在鼠标移上去
    &:hover {
        // 箭头旋转
        &>i:not(:only-child):last-of-type {
            transform: rotate(180deg);
        }
        // 显示子菜单
        .menu-more-content.dropdown-content {
            display: block;
        }
    }
    
    // 子菜单的内容 (默认隐藏)
    .menu-more-content.dropdown-content {
        display: none;
        position: absolute;
        background-color: #f8f8f8;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        line-height: 1rem;
        // 子菜单的链接
        &>a {
            padding: .6rem 1rem;
            text-decoration: none;
            display: flex;
            // 鼠标移上去后修改子菜单链接颜色
            &:hover {
                border-radius: 4px;
            }
            &>i {
                width: 1.6rem;
            }
        }
    }
}
[theme=dark] .menu-more-content.dropdown-content {
    background-color: #252627;
}
@media screen and (max-width: 680px) {
    .dropdown {
        display: inline;
        .menu-more-content.dropdown-content {
            display: none;
        }
        &:hover .menu-more-content.dropdown-content {
            display: inline;
            z-index: 1;
            margin-top: -2em;
            margin-left: 3em;
        }
    }
    .menu-more-content.dropdown-content a:hover {
        background-color: transparent;
    }
}
